################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/save283.rar
/HostEdit/HostEdit/obj/Debug
