################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/save283.rar
/obj/Debug
/bin/Debug
.dll
/HostEdit/.vs/HostEdit/v15/Server/sqlite3
